@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Laravel View Sources */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-Inter: 'Inter';

  /* Color Palette */
   --color-primary: #0A2B4C;        /* Deep Ocean Blue — primary brand color */
  --color-secondary: #ffffff;      /* Sterling Blue — navigation/sidebar */
  --color-accent: #3828f7;         /* Vivid Indigo — buttons, highlights */
  --color-accent-hover: #6255f9;   /* Soft Navy — hover states */
  --color-success: #28A745;        /* Green — success alerts */
  --color-warning: #D6A846;        /* Amber — warnings */
  --color-info: #B0B7C1;           /* Light Steel — neutral info */
  --color-background: #efefef;     /* Off-white — body background */
  --color-text: #343A40;           /* Dark gray — primary text */
  --color-border: #dee2eb;         /* Light gray — borders */

}